/* CSS declarations go here */
#render-target
{
    margin: 0 auto;
}
.form-control {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}
.wrapper {
    text-align: center;
}
.btn-primary
{
    width: 180px;
}